/* Filter */
.filters {
  display: flex;
  gap: 8px;
}

/* Grid */
.card-grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* Kaart */
.card { 
  border-radius: 8px;
  padding: 0.75rem;
}

.card img {
  max-height: 300px;
  object-fit: cover;
 }

 .detail-image {
  max-height: 450px;
  }

/* Hart-knop styling */
.heart-button {
background: none;
border: none;
cursor: pointer;
font-size: 1.8rem;
color: black;
}

.heart-button.favorited {
color: red;
}

/* Rating styling */
.rating .star {
background: none;
border: none;
cursor: pointer;
font-size: 1.8rem;
color: black;
}

.rating .star.filled {
color: gold;
}

/* Voorbeeldkaarten Admin */
.admin-top{
display: flex;
}

.admin-left{
flex: 0 0 400px;
}

.admin-right{
flex: 0 0 1450px;
}

.example-grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.example-img{
  width: 100%;
}
